*.o
*.ko
*.cmd
Module.symvers
conftest/
modules.order
nv_compiler.h
nvidia-drm.mod
nvidia-drm.mod.c
nvidia-modeset.mod
nvidia-modeset.mod.c
nvidia-modeset/.nvidia-modeset-linux.o.d
nvidia-peermem.mod
nvidia-peermem.mod.c
nvidia-uvm.mod
nvidia-uvm.mod.c
nvidia.mod
nvidia.mod.c
nvidia/.nv-modeset-interface.o.d
nvidia/.nv-p2p.o.d
nvidia/.nv-report-err.o.d
nvidia/.nv_uvm_interface.o.d
.DS_Store